body {
	font-family: 'Helvetica Nueu',Helvetica,Arial,FreeSans,sans-serif;
	font-size: 18px;
	margin-top: 1em;
}

ul {
	list-style-type: square;
}

li {
	margin-bottom: 10px;
}

a {
	text-decoration: none;
	/*color: #36C;*/
	color: #db413d;
}

a:hover {
	text-decoration: underline;
	/*color: #36C;*/
	color: #db413d;
}

h1 {
	color: #db413d;
	font-size: 275%;
	margin-bottom: -.125em;
}

h1 a, h1 a:hover, h1 a:active, h1 a:focus {
	color: #db413d;
}

h2 {
	/*border-bottom: 1px solid #8391A8;
	color: #3C4C6C;*/
	border-bottom: 4px solid #db413d;
	color: #D52823;
	font-size: 160%;
	font-weight: normal;
	margin-top: 1.75em;
	padding-bottom: 2px;	
}

p {
	line-height: 1.5em;
}

.download { float: right; }

.footer {
	font-size: 80%;
	color: #666;
	text-align: center;
	padding-top: 1em;
	padding-bottom: 2em;
}

.small {
	font-size: 80%;
}

h1 .small {
	font-size: 50%;
}

#container {
	margin: 0 auto;
	width: 700px;
}

.description {
	margin-bottom: -2em;
}

code {
	font-family: Courier, Consolas, monospace;
	font-size: 16px;
	color: #666;
	overflow: auto;
}

pre {
	font-family: Courier, Consolas, monospace;
	font-size: 16px;
	line-height: 18px;
	tab-interval: 0.5em;
	/*border: 1px solid #C7CFD5;*/
	/*background-color: #F1F5F9;*/
	/*color: #666;*/
	background-color: #161616;
	color: #e9e9e9;
	padding: .5em .75em;
}


code .keyword, pre .prompt {
	color: #db413d;
}

code .method, code .property, pre .command, pre .program {
	color: #e09cff;
}

code .external-function {
	color: #e3a055;
}

code .class {
	color: #8d5bdb;
}

code .string, pre .argument {
	color: #ba5bd7;
}

code .pre-processor {
	color: #c7afff;
}