body {
	font-family: 'HelveticaNeue',Helvetica,Arial,FreeSans,sans-serif;
	font-size: 18px;
	margin-top: 1em;
	color: #333;
}

li {
	margin-bottom: .5em;
}

a {
	text-decoration: none;
	color: #36C;
}

a:hover {
	text-decoration: underline;
	color: #36C;
}

h1 {
	color: #000;
	font-size: 275%;
	font-weight: bold;
	margin-bottom: -.125em;
}

h1 a, h1 a:hover, h1 a:active, h1 a:focus {
	color: #000;
}

h2 {
	color: #000;
	font-size: 160%;
	font-weight: normal;
	margin-top: 1.75em;
	margin-bottom: -.125em;
	padding-bottom: 2px;	
}

p {
	line-height: 1.5em;
}

.download {
	color: #666;
	float: right;
	margin-top: 1em;
}

.download p {
	margin-bottom: -.25em;
	margin-left: 15px;
	font-size: 80%;
	font-weight: bold;
}

.footer {
	font-size: 80%;
	color: #666;
	text-align: center;
	padding-top: 2.5em;
	padding-bottom: 10em;
}

.small {
	font-size: 80%;
}

h1 .small {
	font-size: 50%;
}

#container {
	margin: 0 auto;
	width: 700px;
}

.description {
	margin-bottom: -1em;
	font-size: 110%;
}

code {
	font-family: Courier, Consolas, monospace;
	font-size: 16px;
	color: #666;
	overflow: auto;
}

pre {
	font-family: Courier, Consolas, monospace;
	font-size: 16px;
	line-height: 18px;
	tab-interval: 0.5em;
	/*border: 1px solid #C7CFD5;*/
	/*background-color: #F1F5F9;*/
	/*color: #666;*/
	background-color: #161616;
	color: #e9e9e9;
	padding: .5em .75em;
}


code .keyword, pre .prompt {
	color: #db413d;
}

code .method, code .property, pre .command, pre .program {
	color: #e09cff;
}

code .external-function {
	color: #e3a055;
}

code .class {
	color: #8d5bdb;
}

code .string, pre .argument {
	color: #ba5bd7;
}

code .pre-processor {
	color: #c7afff;
}

blockquote {
	color: #666;
	font-family: Courier, Consolas, monospace;
	font-size: 80%;
	margin-left: 2em;
	margin-right: 2em;
}